
* {
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    /* height: 100%; */
    /* background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./my_images/supermapLogo1sm.png); */
    /* background-position: center; */
    /* background-size: cover; */
    /* height: 100vh; */
}
/*
.navbar {
    width: 100vw;
    height: 75px;
    margin: auto;
    position: fixed;
    padding-top: 10px;
    box-shadow: 0 0 10px #412491;
}  

.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-top: -18px;
    margin-left: -10px;
    font-weight: bold;
}
.logo{
    color: red;
    font-size: 35px;
    font-family: Arial;
    padding-left: 0px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 100px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: right;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    gap: 2rem;
    margin: 0 2rem;
    font-weight: bold;
    position: relative;
    padding: 0rem 1rem;
    cursor: pointer;
    display: flex;
}

ul li a{
    text-decoration: none;
    color: hsl(195, 100%, 99%);
    font-family: Arial;
    font-weight: bold;
    transition: 0.3 ease-in-out;
}
.nav_dropdown{
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px #ff7200;
    background-color: white;
    border-radius: 8px;
    width: 12rem; 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    z-index: 1000px;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}
.nav_dropdown li{
    list-style: none;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          transition: background-color 200ms ease-in-out;
}
.nav_dropdown li:hover{
    background-color: #fce4ec
}
.nav_dropdown li:focus{
    background-color: #fce4ec
}
ul li a:hover{
    color: #ff7200;
    zoom: 180%;
}
*/
/* 
nav .logo{
    color: rgb(214, 39, 39);
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 110px;
  } */
.logo{
    padding: 0px 0px 0px 70px;
    width: 150px;
    height: auto;
}
  nav{
    height: 80px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    position: relative;
    z-index: 1;
  }
  nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 18px;
    background: #063247;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 230px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 22px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 8px;
    box-sizing: 3px;
  }

.newsearch{
    width: 300px;
    float: right;
    margin-right: 10px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.new-btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    break-before: 5px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.new-btn:focus{
    outline: none;
    /* zoom: 120%; */
}
.srch:focus{
    outline: none;
}


body {
    margin: 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

 /* Side tool bar  */
.toolBar {
    position: absolute;
    right: 363px;
    top: 80px;
    text-align: center;
    background: rgb(255, 255, 255);
    /* Level of div  */
    z-index: 1000;
    border-radius: 4px;
}

/* New Toggle Side Bar */

.sidebar {
    height: 100%;
    width: 0;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(29, 201, 231);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main-side {
    transition: margin-left .5s;
    position: absolute;
    top: 80px;
    right: 0px;
    float: right;
    height: 10px;
    padding: 0 0 0 -10px;
  }

/* New Toggle Side Bar */

.sidebar-config-wrap {
    position: absolute;
    top: 79px;
    right: 0;
    height: 80vh;
    width: 360px;
    padding: 20px;
    padding-top: 12px;
    background: #2c2c2c;
    visibility: hidden;
}

.sidebar-config-wrap .panel-group .panel {
    border-color: transparent;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.sidebar-config-wrap .panel .panel-heading {
    background: #383838;
    color: rgba(255, 255, 255, 0.85);
    border-color: #383838;
    position: relative;
}

.sidebar-config-wrap .panel .panel-heading::before {
    content: "";
    height: 50%;
    width: 2px;
    background: #3394dc;
    position: absolute;
    top: 25%;
    left: 0;
    display: block;
}

.form-group {
    overflow: hidden;
}

.sidebar-config-wrap .form-control,
.sidebar-config-wrap .btn-group {
    width: 70%;
    float: right;
}

.sidebar-config-wrap .form-group label {
    margin-bottom: 0;
    line-height: 34px;
}

.sidebar-config-wrap .btn-group {
    display: block;
    margin-bottom: 10px;

}

.sidebar-config-wrap .btn-group button {
    width: 50%;
    outline: none;
}

.sidebar-config-wrap .btn-group button:focus {
    outline: none;
}

.sidebar-config-wrap .panel-title a {
    width: 100%;
    display: block;
    text-decoration: none !important;
    overflow: hidden;
}

.sidebar-config-wrap .panel-title a span.glyphicon {
    float: right;
}

.sidebar-config-wrap .panel-title a[aria-expanded="true"] .glyphicon-chevron-down {
    display: none;
}

.sidebar-config-wrap .panel-title a[aria-expanded="false"] .glyphicon-chevron-up {
    display: none;
}

.sidebar-config-wrap .submit-btn-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-top: 2px solid #323232;
    text-align: center;
}

.sidebar-config-wrap #printBtn,
.sidebar-config-wrap .progress {
    width: 80%;
}

.sidebar-config-wrap .progress {
    margin: 30px auto 0;
}

/* Pop up to query buildings and land use */
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -150px;
    width: 300px;
}

/* Search by keword options */
.keyWordsOptions {
    position: absolute;
    top: 120px;
    right: 100px;
    background-color: white;
    display: none;
}