# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.vscode


# Dev Environment iServer Common Files
dist/
examples/3dwebgl
examples/classic
examples/component
examples/css
examples/data
examples/fonts
examples/img
examples/js
examples/leaflet
examples/locales
examples/mapboxgl
examples/openlayers/img
examples/template
THIRD-PARTY SOFTWARE OR TECHNOLOGY STATEMENT.md